@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #f3f4f6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  min-height: 100%;
}

html {
  color-scheme: dark;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button, [role="button"], a {
  cursor: pointer;
}
